@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

.App {
  background-color:beige;
  height: 100vh;
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: center;
  margin-bottom: 70px
}

@keyframes typing {
  from { width: 0 }
  to { width:20ch }
}

@keyframes cursor {
  from, to {border-color: transparent}
  50% {border-color: black}
}

.mainHeader {
  display: flex;
  max-width: fit-content;
  text-align: center;
  color: red;
  border-right: .15em solid black;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 3s steps(20, end),
    cursor 1s step-end infinite
}

.aboutText {
  text-align: center;
  margin: auto;
  margin-top: 40px;
  width: 35vw;
  line-height: 30px;
}

.navLinks {
  list-style-type: none;
}

.navLinks li {
  float: left;
  padding: 8px;
  font-size: 18px;
  font-family:'Space Mono', 'Verdana';
  font-weight:600
}

.navLinks li a {
  text-decoration: none;
  color: inherit;
}

.navLinks li a:hover {
  color: red;
}

.page {
  padding: 20px;
}

.pageHeader {
  color: red;
  font-family: 'Space Mono', 'Verdana';
  font-size: 2.5em;
  margin-bottom: 30px;
}

.pageContent {
  text-align: center;
  margin: auto;
  margin-top: 40px;
  width: 35vw;
  line-height: 30px;
  font-family: 'Space Mono', 'Verdana';
}

